        <li class="page-list-item">
            <a href="{{ "/【書籍】TheArtOfUnixProgramming" | relative_url }}">{{"【書籍】TheArtOfUnixProgramming" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Homebrew" | relative_url }}">{{"Homebrew" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/1月中旬の雑記" | relative_url }}">{{"1月中旬の雑記" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/自作アプリ" | relative_url }}">{{"自作アプリ" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/FSharp" | relative_url }}">{{"FSharp" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/40代の働き方のスタイル" | relative_url }}">{{"40代の働き方のスタイル" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/40代のプログラマ目標" | relative_url }}">{{"40代のプログラマ目標" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/GoFO" | relative_url }}">{{"GoFO" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/FParsec" | relative_url }}">{{"FParsec" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/【書籍】働く人のための、最強の休息法" | relative_url }}">{{"【書籍】働く人のための、最強の休息法" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/オーディオブック" | relative_url }}">{{"オーディオブック" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/書籍" | relative_url }}">{{"書籍" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/そのうちやりたい事" | relative_url }}">{{"そのうちやりたい事" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/技術的なメモ" | relative_url }}">{{"技術的なメモ" | escape}}</a>
        </li>
