        <li class="page-list-item">
            <a href="{{ "/講義ノート" | relative_url }}">{{"講義ノート" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/GithubPagesGallery" | relative_url }}">{{"GithubPagesGallery" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/イタリア語" | relative_url }}">{{"イタリア語" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/PngNote" | relative_url }}">{{"PngNote" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/MDTouch" | relative_url }}">{{"MDTouch" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose" | relative_url }}">{{"JetpackCompose" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/【書籍】東大名物教授がゼミで教えている人生で大切なこと" | relative_url }}">{{"【書籍】東大名物教授がゼミで教えている人生で大切なこと" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/オーディオブック" | relative_url }}">{{"オーディオブック" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/サブWiki" | relative_url }}">{{"サブWiki" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/MDMinaosi" | relative_url }}">{{"MDMinaosi" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Wikiとノート" | relative_url }}">{{"Wikiとノート" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/GitWiki" | relative_url }}">{{"GitWiki" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/大学生物学の教科書" | relative_url }}">{{"大学生物学の教科書" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/生物学" | relative_url }}">{{"生物学" | escape}}</a>
        </li>
