        <li class="page-list-item">
            <a href="{{ "/オーディオブック" | relative_url }}">{{"オーディオブック" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/講義ノート" | relative_url }}">{{"講義ノート" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Wikiとノート" | relative_url }}">{{"Wikiとノート" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/大学生物学の教科書" | relative_url }}">{{"大学生物学の教科書" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/生物学" | relative_url }}">{{"生物学" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/イタリア語" | relative_url }}">{{"イタリア語" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/GitHubを使ったSNSを考える" | relative_url }}">{{"GitHubを使ったSNSを考える" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/技術的な事を話すweb上の場" | relative_url }}">{{"技術的な事を話すweb上の場" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/サブWiki" | relative_url }}">{{"サブWiki" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/GitWiki" | relative_url }}">{{"GitWiki" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/スマホ" | relative_url }}">{{"スマホ" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/PngNote" | relative_url }}">{{"PngNote" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/BaseFood" | relative_url }}">{{"BaseFood" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/カキオク" | relative_url }}">{{"カキオク" | escape}}</a>
        </li>
